.field {
	flex-direction: flex;
	flex-direction: row;
	width: 320px;
	gap: 15px;
	margin: 0 auto;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
	background: gray;
}

.container {
	margin: 0 auto;
	border-radius: 20px;
	/* background: gray; */
	width: 440px;
	padding: 5px 5px;
}

.beginEnd:hover {
	background: teal;
	color: white;
}
